* {
  box-sizing: border-box;
}

@media all and (max-width: 480px) {
  .mydiv { display: none; }
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0 0 0 0;
  max-width: none;
  background-color: #373B44;

}


.intro {
    text-align: center;
    height: 100vh;
    background-color: #373B44;
}



.projects {
    text-align: right;
    height: 90vh;
    background: #00824e;
    opacity: 1.0;
}

.projects:hover {
  opacity: 0.7;
}



.blog {
    text-align: left;
    height: 90vh;
    background: #09b4f6;
    opacity: 1.0;
}

/*.blog:hover {
  opacity: 0.7;
}*/

.sayhello {
    text-align: center;
    height: 100vh;
    background-color: #32526e;
    opacity: 1.0;
}


.content {
  display: table-cell;
  vertical-align: middle;
}

.arrow {
    display: table-cell;
    vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #373B44;
  position: relative;

  &:hover{
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #3c3b3b;
  color: white;

  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}
