section {
  background: /*url(public/nicePic/img/mountain-min.jpg)*/ no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

img {
  max-width: 100%
}

input, textarea {
  max-width:100%
}

#test {
    background: green;
}
