<%# ./views/index.ejs %>
<%# special tags rendered by EJS template engine %>


<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <h1><%= title %></h1>
        <div id="background">
            <img src="img/mountain-min.jpg" alt="">
        </div>

    </body>
</html>
