<%# ./views/index.ejs %>
<%# special tags rendered by EJS template engine %>


<!DOCTYPE html>
<html>
    <head>
        <meta name=viewport content='width=700'>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <% if( userFullName ){ %>
            <h2>Hello <%=userFullName%> </h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <a href="/signup">Signup</a>
            <a href="/signin">Signin</a>
        <% } %>

        

        <br>
        <div id="background">
            <img src="img/mountain-min.jpg" alt="">
        </div>

    </body>
</html>
