<%# ./views/index.ejs %>
<%# special tags rendered by EJS template engine %>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <%# <meta http-equiv="X-UA-Compatible" content="IE=edge">%>
    <%# <meta name="viewport" content='width=700'>%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chris Gradwohl</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/atom.css">
    <link rel="stylesheet" href="/css/sub.css">
    <link rel="stylesheet" href="/css/island.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://use.fontawesome.com/925d87313d.js"></script>

</head>

<body>

      <section class="intro ">
            <div class="content">
              <h1 class="animated slideInLeft">Chris Gradwohl</h1>
              <p class="animated slideInLeft">Web Developer</p>
              <button class="proj_btn animated slideInRight">Projects</button>
              <button class="blog_btn animated slideInRight">Blog</button>
              <button class="hello_btn animated slideInRight">Say Hello!</button>
           </div>


      </section>

    <a href="https://github.com/theGwall">
      <section class="projects">
          <div class="sublime-text animated infinite bounce" style="margin-top: 20%">
            <div class="screen">
              <div class="left-bar"></div>
              <div class="top-bar">
                <div class="buttons"></div>
              </div>
              <div class="code">
                <div class="row row1">
                  <p class="green"></p> <p class="purple"></p>
                </div>
                <div class="row row2">
                  <p class="blue"></p> <p class="yellow"></p> <p class="green"></p>
                </div>
                <div class="row row3">
                  <p class="transparent"></p><p class="orange"></p> <p class="green"></p> <p class="purple"></p>
                </div>
                <div class="row row4">
                  <p class="transparent"></p><p class="transparent"></p><p class="yellow"></p> <p class="blue"></p> <p class="green">
                  </p>
                </div>
                <div class="row row5">
                  <p class="transparent"></p><p class="transparent"></p><p class="purple"></p> <p class="orange"></p> <p class="yellow">
                  </p>
                </div>
                <div class="row row6">
                  <p class="transparent"></p><p class="green"></p> <p class="blue"></p> <p class="purple">
                  </p>
                </div>
                <div class="row row7">
                  <p class="transparent"></p><p class="yellow"></p> <p class="purple"></p> <p class="green">
                  </p>
                </div>
                <div class="row row8">
                  <p class="transparent"></p><p class="transparent"></p><p class="orange"></p> <p class="green"></p> <p class="purple">
                  </p>
                </div>
                <div class="row row9">
                  <p class="transparent"></p><p class="blue"></p> <p class="yellow"></p><p class="cursor"></p>
                </div>
              </div>
            </div>
          </div>

          <div class="content">
               <h1>Projects</h1>
              <p>I make things...check it out!</p>
          </div>
      </section>
    </a>

    <a href="https://medium.com/@christophergradwohl">
      <section class="blog">
        <div class="content">
          <h1>Blog</h1>
          <p>Case studies, observations, and discovery.</p>
        </div>

        <div class="sea" style="margin-top: 30%">
          <div class="circle-wrapper">
              <div class="bubble"></div>
              <div class="submarine-wrapper">
                  <div class="submarine-body">
                      <div class="window"></div>
                      <div class="engine"></div>
                      <div class="light"></div>
                  </div>
                  <div class="helix"></div>
                  <div class="hat">
                    <div class="leds-wrapper">
                        <div class="periscope"></div>
                        <div class="leds"></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </section>
    </a>

    <section class="sayhello">
      <div class="content">
        <h1>Say Hello.</h1>
        <a href="https://github.com/theGwall"><i class="fa fa-github-square fa-3x animated infinite jello" aria-hidden="true"></i></a>
        <a href="christophergradwohl@gmail.com"><i class="fa fa-envelope fa-3x animated infinite jello" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/chris.gradwohl"><i class="fa fa-facebook-official fa-3x animated infinite jello" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/christophergradwohl"><i class="fa fa-linkedin-square fa-3x animated infinite jello" aria-hidden="true"></i></a>
     </div>
    </section>

    <footer>
      Made by Chris Gradwohl</a>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>
