<!--
indes.ejs

	this file is served along side the ../public directory,
	see server.js -> express.js for details

	NOTE all the scripts are from ../public

-->


<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">


	<%# <meta http-equiv="X-UA-Compatible" content="IE=edge">%>
	<%# <meta name="viewport" content='width=700'>%>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Chris Gradwohl</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/rocket.css">
	<link rel="stylesheet" href="/css/atom.css">
	<link rel="stylesheet" href="/css/sub.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<script src="https://use.fontawesome.com/925d87313d.js"></script>

</head>

<body>

	<section class="intro">

		<div class="mydiv">
			<div class="background"></div>
			<div class="laptop">
				<div class="screen">

					<div class="cloud c-l1l c11"></div>
					<div class="cloud c-l1l c12"></div>
					<div class="cloud c-l1l c13"></div>
					<div class="cloud c-l1l c14"></div>

					<div class="cloud c-l1r c11"></div>
					<div class="cloud c-l1r c12"></div>
					<div class="cloud c-l1r c13"></div>
					<div class="cloud c-l1r c14"></div>

					<div class="cloud c-l2l c21"></div>
					<div class="cloud c-l2l c22"></div>
					<div class="cloud c-l2l c23"></div>
					<div class="cloud c-l2l c24"></div>

					<div class="cloud c-l2r c21"></div>
					<div class="cloud c-l2r c22"></div>
					<div class="cloud c-l2r c23"></div>
					<div class="cloud c-l2r c24"></div>

					<div class="spaceship">
						<div class="cloud-0"></div>
						<div class="wing-l1"></div>
						<div class="wing-r1"></div>
						<div class="wing-l2"></div>
						<div class="wing-r2"></div>
						<div class="part-1"></div>
						<div class="part-2"></div>
						<div class="part-3"></div>
					</div>
				</div>


				<div class="keyboard">
					<div class="mouse"></div>
				</div>
			</div>
		</div>

		<div class="content">
			<h1 style="color: #afcfcf; margin-right:3%;" class="animated slideInLeft">Chris Gradwohl</h1>
			<p style="color: #afcfcf; margin-right:3%;" class="animated slideInLeft">Full Stack Web Engineer</p>
			<button style="margin-right:3%;" class="proj_btn animated slideInRight">Projects</button>
			<!-- <button style="margin-right:3%;" class="blog_btn animated slideInRight">Blog</button> -->
			<button style="margin-right:3%;" class="hello_btn animated slideInRight">Say Hello!</button>
		</div>


	</section>

	<a href="https://github.com/cgradwohl">
		<section class="projects">
			<div class="sublime-text animated infinite bounce mydiv" style="margin-top: 20%">
				<div class="screen">
					<div class="left-bar"></div>
					<div class="top-bar">
						<div class="buttons"></div>
					</div>
					<div class="code">
						<div class="row row1">
							<p class="green"></p>
							<p class="purple"></p>
						</div>
						<div class="row row2">
							<p class="blue"></p>
							<p class="yellow"></p>
							<p class="green"></p>
						</div>
						<div class="row row3">
							<p class="transparent"></p>
							<p class="orange"></p>
							<p class="green"></p>
							<p class="purple"></p>
						</div>
						<div class="row row4">
							<p class="transparent"></p>
							<p class="transparent"></p>
							<p class="yellow"></p>
							<p class="blue"></p>
							<p class="green">
							</p>
						</div>
						<div class="row row5">
							<p class="transparent"></p>
							<p class="transparent"></p>
							<p class="purple"></p>
							<p class="orange"></p>
							<p class="yellow">
							</p>
						</div>
						<div class="row row6">
							<p class="transparent"></p>
							<p class="green"></p>
							<p class="blue"></p>
							<p class="purple">
							</p>
						</div>
						<div class="row row7">
							<p class="transparent"></p>
							<p class="yellow"></p>
							<p class="purple"></p>
							<p class="green">
							</p>
						</div>
						<div class="row row8">
							<p class="transparent"></p>
							<p class="transparent"></p>
							<p class="orange"></p>
							<p class="green"></p>
							<p class="purple">
							</p>
						</div>
						<div class="row row9">
							<p class="transparent"></p>
							<p class="blue"></p>
							<p class="yellow"></p>
							<p class="cursor"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="content">
				<h1>Projects</h1>
				<p>I make things...Click anywhere to check out some of my projects!</p>
			</div>
		</section>
	</a>

	<!--<a href="https://medium.com/@christophergradwohl">
		<section class="blog">
			<div class="content">
				<h1>Blog</h1>
				<p>I love learning, reading and writing about all things software. Click anywhere to learn more!</p>
			</div>

			<div class="sea mydiv" style="margin-top: 30%;">
				<div class="circle-wrapper">
					<div class="bubble"></div>
					<div class="submarine-wrapper">
						<div class="submarine-body">
							<div class="window "></div>
							<div class="engine"></div>
							<div class="light "></div>
						</div>
						<div class="helix"></div>
						<div class="hat">
							<div class="leds-wrapper">
								<div class="periscope"></div>
								<div class="leds"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</a>-->

	<section class="sayhello">
		<div class="content">
			<h1>Say Hello.</h1>
			<a href="https://github.com/theGwall"><i class="fa fa-github-square fa-3x animated infinite jello" aria-hidden="true"></i></a>
			<a href="christophergradwohl@gmail.com"><i class="fa fa-envelope fa-3x animated infinite jello" aria-hidden="true"></i></a>
			<a href="https://www.facebook.com/chris.gradwohl"><i class="fa fa-facebook-official fa-3x animated infinite jello" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/christophergradwohl"><i class="fa fa-linkedin-square fa-3x animated infinite jello" aria-hidden="true"></i></a>
			<a href="https://angel.co/christopher-gradwohl"><i class="fa fa-angellist fa-3x animated infinite jello" aria-hidden="true"></i></a>
			<br>
			<!--<button style="margin-top: 7%; margin-right:3%; background-color:grey;"class="proj_btn animated slideInLeft">Projects</button>
        <button style="margin-top: 7%; margin-right:3%; background-color:grey;"class="blog_btn animated slideInLeft">Blog</button>
        <button style="margin-top: 7%; margin-right:3%; background-color:grey;"class="hello_btn animated slideInLeft">Say Hello!</button>-->
		</div>

	</section>

	<footer>
		Made by Chris Gradwohl</a>
	</footer>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>
